<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h2>Login Page</h2>
    <!-- 로그인 성공 알림창 -->
    {% if success_message %}
        <script>
            alert("{{ success_message }}");
        </script>
    {% endif %}

    <!-- 로그인 실패 알림창 -->
    {% if failure_message %}
        <script>
            alert("{{ failure_message }}");
        </script>
    {% endif %}

    <form action="/login" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username"><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br><br>
        <input type="submit" value="Login">
    </form>
</body>
</html>
