<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>한국 관광 명소 목록</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h2>서울 관광 명소 찾기</h2>
        <form action="/search" method="post">
          <input type="text" name="search_title" placeholder="여행지를 검색하세요">
          <button type="submit">검색</button>
      </form>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>이름</th>
                    <th>주소</th>
                    <th>사진</th>
                </tr>
            </thead>
            <tbody>
                {% for item in data %}
                    <tr>
                        <td>{{ item.title }}</td>
                        <td>{{ item.location }}</td>
                        <td>
                            {% if item.image_url %}
                                <img src="{{ item.image_url }}" alt="{{ item.title }}" style="width: 100px; height: auto;">
                            {% else %}
                                이미지 없음
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.9/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

