<body>
    <h2>Sign Up Page</h2>
    <!-- 회원가입 폼 -->
    <form action="/users/signup" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username"><br>
        {% if message == 'username' %}
            <p style="color: red;">이미 사용 중인 아이디입니다.</p>
        {% endif %}

        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br><br>

        <label for="confirm_password">Confirm Password:</label>
        <input type="password" id="confirm_password" name="confirm_password"><br>
        {% if message == 'password_mismatch' %}
            <p style="color: red;">비밀번호가 일치하지 않습니다.</p>
        {% endif %}


        <label for="email">Email:</label>
        <input type="email" id="email" name="email"><br>
        {% if message == 'email' %}
            <p style="color: red;">이미 등록된 이메일 주소입니다.</p>
        {% endif %}

        <input type="submit" value="Sign Up">
    </form>
</body>
</html>